.navbar{
    height: 100vh;
    max-width: 40vh;
    background: linear-gradient(to bottom , white , rgb(255, 240, 228));
    border-right: 1px solid rgb(165, 165, 165);
    background-color: #fff1e3;
}

.nav{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 30px;
}

.about-web{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 18px;
    position: relative;
    right: 30px;
    bottom: 5px;
}

.about-web h2{
    color: #e90000;
    font-family: "Bebas Neue", serif;
    font-size: 36px;
    position: relative;
    top: 5px;
    right: 15px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.about-web h2 span{
    color: #ff8000;
}

.about-web img{
    height: 50px;
    width: 60px;
}

/* NAVBAR ul CONTENTS */

.nav-feild{
    height: 30%;
    position: relative;
    font-family: "Outfit", serif;
    color: #6a6969;
    top: -6%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style: none;
    font-size: 20px;
}

.nav-feild li{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
    transition: 0.3s ease-in-out;
}

.nav-feild li:hover{
    color: #000000;
}

.border{
    position: absolute;
    top: 56%;
    width: 16%;
    border: 1px solid grey;
}

/* SETTINGS SECTION */

.settings{
    height: 20%;
    font-family: "Outfit", serif;
    color: #6a6969;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
    top: 25%;
    right: 9%;
}

.settings-section, .settings-section2 {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 10px;
    transition: 0.3s ease-in-out;
}

.settings-section:hover{
    color: #000000;
}

.settings-section2:hover{
    color: #000000;
}

/* Responsive Design */

@media((min-width:970px) and (max-width : 1024px)){
    .navbar{
        width: 20%;
    }
    .nav{
        gap: 17px;
    }
    .about-web img{
        height: 40px;
        width: 50px;
    }
    .about-web h2{
        font-size: 32px;
        right: -5px;
        top: 2px;
    }
    .nav-feild{
        gap: 20px;
        font-size: 17px;
        right: 5%;
    }
    .border{
        top: 54%;
        left: 1%;
    }
    .settings{
        gap: 15px;
        font-size: 17px;
        top: 22%;
        right: 14%;
    }
}

@media((min-width:768px) and (max-width : 970px)){
    /* Add Sliding Navbar Feature */
}